* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #fbfafb;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	height: 100%;
}

a {
	text-decoration: none;
	text-align: center;
}

main {
	margin: 7vh auto 0 auto;
	width: 50vw;
	display: flex;
	justify-content: center;
	gap: 20px;
	height: 75vh;
}

main .banner,
main aside {
	flex: 1 1 100%;
	min-width: 0;
}

main .banner img {
	height: 100%;
	width: 100%;
	object-fit: contain;
	object-position: top;
}

main aside {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

main aside .container {
	background-color: #fff;
	border: solid rgba(0, 0, 0, 0.158) 1px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2rem 0;
}

main aside .container .instagram-logo {
	height: 100px;
	margin: 0 auto 2rem auto;
}

main aside .container form {
	display: flex;
	flex-direction: column;
	gap: 5px;
	width: 70%;
}

main aside .container form input {
	background-color: #fbfafb;
	padding: 1em;
	border: none;
	border: solid rgba(0, 0, 0, 0.158) 1px;
	border-radius: 5px;
	outline: none;
}

main aside .container form button {
	margin-top: 1rem;
	padding: 0.8em;
	background-color: #b2dffc;
	color: #fff;
	font-weight: bold;
	font-size: 1rem;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

main aside .container .divisor {
	padding: 1.4em 0;
	width: 60%;
	margin-bottom: 0.6rem;
	position: relative;
	text-align: center;
}

.divisor span {
	background: #fff;
	padding: 0 16px;
	color: #bbb;
	font-size: 1rem;
	position: relative;
	z-index: 1;
	text-transform: uppercase;
}

.divisor::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	height: 1px;
	background-color: #dbdbdb;
}

main aside .container .alternative-login {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

main aside .container .alternative-login #forgot-password {
	font-size: 0.75rem;
}

main aside .container .alternative-login a button {
	display: flex;
	justify-content: center;
	background-color: transparent;
	border: none;
	font-weight: bold;
	font-size: 1rem;
	color: #3c5a99;
	gap: 1em;
	cursor: pointer;
}
main aside .container .alternative-login a button img {
	height: 1.2rem;
}

main aside .container.register span {
	font-size: 1rem;
	color: #262626;
}
main aside .container.register span a {
	font-weight: bold;
	color: #72a0e0;
}

main aside .apps {
	text-align: center;
}
main aside .apps .download-btns {
	margin-top: 1rem;
	display: flex;
	justify-content: center;
	gap: 10px;
}
main aside .apps .download-btns a {
	width: 40%;
}
main aside .apps .download-btns a img {
	width: 100%;
}

footer {
	position: sticky;
	bottom: 0px;
	color: #8e8e8e;
	height: 15vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
	width: 80vw;
	margin: 0 auto;
}

footer nav ul {
	margin-top: 1.2rem;
	display: flex;
	gap: 30px;
	list-style: none;
	flex-wrap: wrap;
}

footer nav ul li a {
	color: #8e8e8e;
}
footer nav ul li select {
	color: #8e8e8e;
	background-color: transparent;
	border: none;
	outline: none;
	font-size: 1rem;
}

@media (max-width: 1600px) {
	main aside .container {
		padding: 1.2rem 0;
	}

	main aside .container .instagram-logo {
		height: 60px;
		margin: 0 auto 1.5rem auto;
	}

	main aside .container form input {
		background-color: #fbfafb;
		padding: 0.85em;
	}

	main aside .container form button {
		padding: 0.65em;
	}

	.divisor span {
		padding: 0 15px;
	}

	main aside .container .alternative-login #forgot-password {
		font-size: 0.75rem;
	}

	main aside .container .alternative-login a button {
		font-size: 0.9rem;
	}
	main aside .container .alternative-login a button img {
		height: 1rem;
	}

	main aside .container.register span,
	main aside .apps {
		font-size: 0.9rem;
	}
	main aside .apps .download-btns a img {
		width: 100%;
	}
}

@media (max-width: 1110px) {
	main {
		width: 80vw;
	}

	main aside .container {
		padding: 1.2rem 0;
	}

	main aside .container .instagram-logo {
		height: 60px;
	}

	main aside .container form input {
		padding: 0.7em;
	}
}
@media (max-width: 700px) {
	main {
		width: 80vw;
		display: flex;
		justify-content: center;
		gap: 20px;
		height: 75vh;
	}

	main aside .container {
		padding: 1.2rem 1rem;
	}

	main aside .container .instagram-logo {
		height: 40px;
	}

	main aside .container form {
		width: 95%;
	}

	main aside .container form input {
		padding: 0.7em;
	}

	main aside .container form button {
		padding: 0.75em;
		font-size: 0.8rem;
		margin-top: 0.5rem;
	}

	main aside .container .divisor {
		padding: 1em 0;
		margin-bottom: 0.1rem;
	}
	main aside .container .alternative-login a button {
		font-size: 0.8rem;
	}
	main aside .container .alternative-login {
		gap: 1rem;
	}
	main aside .container.register span {
		text-align: center;
	}

	footer nav ul {
		justify-content: center;
	}
}

@media (max-width: 540px) {
	body {
		overflow: visible;
		background-color: #fff;
	}

	main {
		margin: 7vh auto 0 auto;
		width: 90%;
	}

	main .banner {
		display: none;
	}

	main aside .container {
		border: none;
	}

	main aside .container .divisor {
		padding: 1em 2.7em;
	}

	main aside .apps .download-btns a {
		width: 50%;
	}

	footer {
		position: static;
		margin-top: 8rem;
		width: 90%;
	}

	footer nav ul {
		gap: 20px;
	}

	footer #copyright {
		padding-bottom: 1.5rem;
	}
}
